:root {
  --color-white: #fff;
  --color-tranparent-white: #d7ccc0;
  --color-light: #f5f4f0;
  --color-primary: #fe8a02;
  --color-primary-dark: #42413c;
  --color-dark: #2a2626;
  --color-black: #000;
  --color-blue-dark: #007dc1;
  --color-tranparent-dark: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
  --color-link-hover: #ea7600;
  --color-transparent-black: rgba(0, 0, 0, 0.15);
  --color-bootstrap-dark: #212529;
  --color-grey: #e3e3e3;
  --color-transparent-dark-black: rgba(0, 0, 0, 0.2);
  --font-size-default: 16px;
  --font-size-h1: 72px;
  --font-size-h2: 60px;
  --font-size-h2-small: 52px;
  --font-size-h3: 34px;
  --font-size-h3-big: 36px;
  --font-size-h4: 24px;
  --font-size-h5: 14px;
  --font-size-small: 12px;
  --font-family-default: 'Open Sans', sans-serif;
  --content-width: 1110px;
}

body {
  margin: 0;

  color: var(--color-dark);
  font-size: var(--font-size-default);
  font-family: var(--font-family-default);
  line-height: 1.6em;
}

.header-level-1,
.header-level-2,
.header-level-3,
.header-level-4 {
  font-weight: normal;
  font-family: 'Neucha', cursive;
}

.header-level-1 {
  font-size: var(--font-size-h1);
  line-height: 1em;
}

.header-level-2 {
  font-size: var(--font-size-h2);
  line-height: 1.1em;
}

.header-level-2-small {
  font-size: var(--font-size-h2-small);
}

.header-level-3 {
  font-size: var(--font-size-h3);
  line-height: 1.2em;
}

.header-level-3-big {
  font-size: var(--font-size-h3-big);
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.header-level-4 {
  font-size: var(--font-size-h4);
  line-height: 1.2em;
}

.header-level-5 {
  font-size: var(--font-size-h5);
}

.text-small {
  font-size: var(--font-size-small);
}

.container {
  max-width: var(--content-width);

  margin: auto;
}

.text-center {
  text-align: center;
}

.color-white {
  color: var(--color-white);
}

.color-tranparent-white {
  color: var(--color-tranparent-white);
}

.color-light {
  color: var(--color-light);
}

.color-primary {
  color: var(--color-primary);
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.color-dark {
  color: var(--color-dark);
}

.color-black {
  color: var(--color-black);
}

.color-blue-dark {
  color: var(--color-blue-dark);
}

.color-tranparent-dark {
  color: var(--color-tranparent-dark);
}

.color-brown {
  color: var(--color-brown);
}

.color-blue {
  color: var(--color-blue);
}

.bg-image::before {

  position: absolute;

  z-index: -1;

  width: 100%;

  min-height: 929px;

  background-image: url("../images/background.png");

  background-repeat: no-repeat;

  background-size: cover;
  opacity: 0.1;

  content: "";
}

.section-bg-light::after {

  position: absolute;
  top: 0;
  z-index: -2;

  width: 100%;

  min-height: 929px;

  background-color: var(--color-light);

  content: "";
}

.section-dark::after {

  position: absolute;
  top: 0;
  z-index: -2;

  width: 100%;

  min-height: 960px;

  background-color: var(--color-brown);

  content: "";
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.section {
  min-height: 861px;
  overflow: hidden;
}

.header-image {

  top: 55px;
  right: -270px;

  height: 525px;
}

.column {
  flex-basis: 50%;
}

.container .column:first-child {
  margin-right: 30px;
}

.d-flex {
  display: flex;
}

.w-100 {
  min-width: 100%;
}

.mw-100 {
  max-width: 100%;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.title {
  margin-top: 21px;
  margin-bottom: 223px;
}

.text-normal {
  font-weight: normal;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 30px;
}

.d-block {
  display: block;
}

.definition {
  margin-top: 4px;
}

.link {
  margin-top: 22px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
}

.link:hover {
  background: var(color-link-hover);
}

.d-inline-block {
  display: inline-block;
}

.text-decoration-none {
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.bg-primary {
  background: var(--color-primary);
}

.bg-primary-dark {
  background: var(--color-primary-dark);
}

.bg-light {
  background: var(--color-light);
}

.bg-brown {
  background: var(--color-brown);
}

.bg-white {
  background: var(--color-white);
}

.text-bold {
  font-weight: bold;
}

.shadow {
  filter: drop-shadow(0 16px 32px var(--color-transparent-black));
}

.mb-200 {
  margin-bottom: -200px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-0 {
  margin-bottom: 0;
}

.color-bootstrap-dark {
  color: var(--color-bootstrap-dark);
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.subtitle-small {
  margin-top: 0;
  margin-bottom: 0;
}

.card {
  flex-basis: 350px;
  box-sizing: border-box;
}

.card:nth-child(-n+3) {
  margin-bottom: 30px;
}

.list-style-none {
  list-style: none;
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.card-title {
  margin-top: 40px;
  margin-bottom: 4px;
}

.card-link:hover .card-title {
  color: var(--color-white);
}

.card:nth-child(3) .card-title,
.card:nth-child(5) .card-title {
  margin-top: 24px;
}

.card:nth-child(4) .card-title,
.card:nth-child(6) .card-title {
  margin-top: 31px;
}

.card-number {
  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 1em;
}

.card-link:hover .card-number {
  color: var(--color-white);
}

.card-link {
  padding: 24px;
}

.card-link:hover {
  background: var(--color-primary);
}

.card-text {
  margin-top: 0;
  margin-bottom: 0;
}

.card-link:hover .card-text {
  color: var(--color-white);
}

.section-title {
  margin-top: 8px;
  margin-bottom: 24px;
}

.mt-0 {
  margin-top: 0;
}

.mt-100 {
  margin-top: 100px;
}

.section-subtitle {
  margin-top: 72px;
  margin-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
}

.border-0 {
  border: 0;
}

.border-dark {
  border: 1px solid var(--color-grey);
}

.font-inherited {
  font-family: inherit;
}

.form-input {
  min-width: 362px;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 9px;
}

.form-submit {
  min-width: 70px;
  min-height: 50px;
}

.form-submit::before {

  position: absolute;
  top: 0;

  right: 0;
  bottom: 0;

  left: 0;

  width: 24px;

  height: 24px;

  margin: auto;

  background-image: url("../images/send.svg");

  content: "";
}

.subscribe-text {
  max-width: 393px;
  margin-top: 55px;
  margin-right: 125px;
  margin-bottom: 55px;
  margin-left: 52px;
}

.form {
  margin-top: 43px;
}

.form-label-text {
  font-size: 18px;
  line-height: 1.6em;
}

.form-label-text::placeholder {
  color: var(--color-transparent-dark-black);
}

.form-label {
  margin-bottom: 8px;
}

.form-text {
  margin-top: 8px;
}
